<div class="col-6 mx-auto">
  <ngb-alert #selfClosingAlert *ngIf="showAlertError" type="danger">
    Subreddit não encontrado.
  </ngb-alert>
</div>
<div class="d-flex justify-content-center align-items-center h-100">
  <div class="text-center">
    <h3>Insira o nome do subreddit</h3>
    <div class="d-flex mt-4">
      <input
        type="text"
        name="searchString"
        id="searchString"
        class="form-control"
        placeholder="FullDev"
        [(ngModel)]="searchString"
        #ctrl="ngModel"
        required
        [disabled]="loading"
      />
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="!searchString || loading"
        (click)="onSearch()"
      >
        Buscar
      </button>
    </div>
  </div>
</div>
